<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Url shortner</title>
</head>
<header>
    <div class="header-title">
        <h1>URLs Shortner</h1>
    </div>
</header>
<body>
    
    <% if (locals.error) { %>
     <p class="error"><%= error %></p>
    <% } %>

    <form action="/" method="post">
        <p> Paste the URL to be shortned </p>
        <input type="url" name="url" id="url" placeholder=""/>
        <input type="submit" value="Create url"/>
    </form>

    <div class="short-url">
        <% if (locals.short_url) { %>
         <a href="<%= short_url %>"> <%= short_url %> </a>
        <% } %>
    </div>
</body>
</html>

